/* #actionssavingsTable{
color: whitesmoke;
background-color: linear-gradient(135deg, darkblue
, #11318a);
} */
@media print {
  /* Add this to preserve colors */
  * {
    -webkit-print-color-adjust: exact !important;
    color-adjust: exact !important;
  }

  
  .chart-container {
    margin-left: -200px;
    width: 100% !important;
    height: auto !important;
    page-break-before: always;
    
  }
  

  #pdfContent {
    margin: 0;
    padding: 0;
  }
}


.actionsavings {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px;
  padding: 20px;
  background: #f2f2f2;
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2); /* Adjusted box-shadow for more elevation */
  opacity: 0;
  animation: popUp 0.5s forwards, fadeIn 2s forwards;
  transform: scale(0.95); /* Slight scale transformation for popping up effect */
  margin-right: 3%;
  margin-left: -5%;
}

@keyframes popUp {
  from {
    transform: scale(0.9);
  }
  to {
    transform: scale(1);
  }
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

      body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
        background: linear-gradient(to bottom right, #f2f2f2, #e0e0e0);
        width: auto;
      }

      nav {
        background-color: #0000001a;
        padding-left: 20px;
        padding-top: 10px;
        padding-bottom: 10px;
        text-align: center;
      }

      #logo {
        width: 100px;
        margin-left: -20px;
        margin-top: 49px;
        margin-right: 12px;
        height: auto;
        float: left;
        transition: transform 0.3s ease; /* Add transition for smooth effect */
      }
      #logo:hover {
        transform: scale(1.1); /* Scale the logo by 10% on hover */
      }
      header {
        background: black;
      }

      header h1 {
        margin-right: 1050px;
        margin-top: 1%;
        margin-bottom: -10px;
        font-family: "Rowdies", sans-serif;
        font-weight: 600;
        font-style: normal;
        font-size: 24px;
        color: white;
        text-align: left;
      }

      /* body {
            font-family: Arial, sans-serif;
            margin: 20px;
            background: linear-gradient(to right, #0c1c81, #2d479e);
        } */

      h1,
      h2 {
        text-align: center;
        color: #333;
      }

      .chart-container {
        width: 40%;
        height: 40%;
        margin: 20px;
        display: inline-block;
        border-radius: 10px; /* Add border radius */
        overflow: hidden; /* Ensure content doesn't overflow rounded corners */
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Adjust shadow for equal distribution */
        animation-name: fadeInUp; /* Add animation */
        animation-duration: 1s; /* Animation duration */
        animation-delay: 0.5s; /* Delay before animation starts */
        animation-fill-mode: forwards; /* Keep element in its final state after animation */
        opacity: 0; /* Initially hide the element */
        
      }
      
      @keyframes fadeInUp {
        from {
          opacity: 0;
          transform: translateY(20px); /* Move element downwards */
        }
        to {
          opacity: 1;
          transform: translateY(0); /* Move element back to its original position */
        }
      }
      
      .chart {
        width: 100%;
        height: 100%;
      }
     
      
      table {
        width: 80%;
        border-collapse: collapse;
        margin-bottom: 20px;
        border-radius: 8px;
        overflow: hidden;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        opacity: 0;
        animation: fadeIn 1s forwards;
        margin: auto;
        
      }

      @keyframes fadeIn {
        from {
          opacity: 0;
        }

        to {
          opacity: 1;
        }
      }

     th{
      background-color: #11318a;
      padding: 12px;
       color: whitesmoke;
     }
      td {
        padding: 12px;
        text-align: left;
        border-bottom: 1px solid #ddd;
        
        text-align: center;
      }

      tr:nth-child(even) {
        background-color: #f2f2f2;
      }

      tr:hover {
        background-color: #ddd;
      }

      .button-container {
        text-align: right;
        margin: 20px;
      }

      .button {
        margin-left: 10px;
      }

      #backButton {
        position: absolute;
        left: 20px;
        top: 20px;
      }
      .progress-bar-container {
        padding: 5px 0;
        background: linear-gradient(to bottom right, #f2f2f2, #e0e0e0);
        max-width: 700px; /* You can adjust this as needed */
        margin: auto; /* This centers the progress bar */
        margin-bottom: 10px;
      }

      .progress-bar {
        counter-reset: step;
        list-style: none;
        padding: 0;
        display: flex;
        justify-content: space-evenly;
        margin: 0; /* Removes default margin */
        background: linear-gradient(to bottom right, #f2f2f2, #e0e0e0);
      }

      .progress-bar li {
        position: relative;
        flex-grow: 1;
        text-align: center;
        padding: 8px;
        font-size: 0.8em; /* Smaller font size */
        color: floralwhite;
        background-color: grey; /* Inactive step color */
        border-radius: 15px;
        margin-right: -25px;
      }

      .progress-bar li:before {
        counter-increment: step;
        content: counter(step);
        position: absolute;
        top: -20px; /* Adjusted for smaller circle size */
        left: 50%;
        transform: translateX(-50%);
        background-color: #333;
        color: #fff;
        width: 20px; /* Smaller circle size */
        height: 20px; /* Smaller circle size */
        text-align: center;
        line-height: 20px; /* Adjusted for smaller circle size */
        border-radius: 50%;
        font-size: 0.75em; /* Smaller text in circle */
        transition: transform 0.3s ease; /* Transition effect */
      }
      .progress-bar li:hover:before {
        transform: translate(-50%, -50%) scale(1.2); /* Zoom effect */
      }
      .progress-bar li:after {
        content: "";
        position: absolute;
        top: 8px; /* Adjusted for alignment with the smaller circle */
        left: -50%; /* Starts from the middle of the circle */
        width: 100%;
        height: 2px; /* Thinner line to connect circles */
        background-color: #333; /* Connects steps */
        z-index: -1;
      }

      .progress-bar li:first-child:after {
        content: none;
      }

      .progress-bar li.current {
        background-color: #4caf50; /* Highlight for the current step */
      }

      .progress-bar li.current:before {
        background-color: #4caf50; /* Highlight for the current step number */
      }

      .progress-bar li.completed {
        background-color: #aaa; /* Color for completed steps */
      }

      .progress-bar li.completed:before {
        background-color: #333; /* Color for completed step numbers */
      }

      .progress-bar li.completed:after {
        background-color: #333; /* Color for completed line */
      }
      #pdfContent {
        width: auto;
        margin-left: 120px;
      }
      nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 34px;
      }

      .button-container {
        display: flex;
      }

      .button {
        margin-left: 10px; /* Adjust as needed */
      }

      #printButton {
        display: block;
        margin: 2px;

        padding: 3px 8px;
        font-size: 13px;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3); /* Add shadow */
        transition: transform 0.3s ease;
        background-color: darkblue;
        color: #fff;
        border: none;
        border-radius: 20px;
        cursor: pointer;
        border: 2px solid transparent; /* Add a transparent border */
        border-color: grey;
        
      }
      #saveButton {
        display: block;
        margin: 2px;

        padding: 3px 8px;
        font-size: 13px;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3); /* Add shadow */
        transition: transform 0.3s ease;
        background-color: darkblue;
        color: #fff;
        border: none;
        border-radius: 20px;
        cursor: pointer;
        border: 2px solid transparent; /* Add a transparent border */
        border-color: grey;
        
      }
@media print {
    /* Hide unnecessary elements */
    nav {
        display: none;
    }

    .button-container {
        display: none;
    }

    .progress-bar-container {
        display: none;
    }

    /* Adjust chart container width for better printing */
    .chart-container {
        width: 100%;
        margin: 10px auto; /* Adjust margin as needed */
    }

    body {
        margin: 10px; /* Adjust as needed */
    }

    /* Reduce font size for better fit */
    table {
        font-size: 12px; /* Adjust as needed */
        width: 100%;
        margin: auto;
    }

    /* Adjust font size for better printing */
    body,
    h1,
    h2,
    th,
    td {
        font-size: 14px; /* Adjust as needed */
    }
    .actionsavings {
        display: block !important;
        page-break-before: always;
    }
}

 
