/* styles.css */

nav {
    background-color: #0F0F0F;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
}

#logo {
    width: 100px;
    margin-left: -20px;
    margin-top: -15px;
    margin-right: 12px;
    height: auto;
    float: left;
    transition: transform 0.3s ease;
    /* Add transition for smooth effect */
}

#logo:hover {
    transform: scale(1.1);
    /* Scale the logo by 10% on hover */
}

header {
    background: black;


}

#logo {
    width: 100px;
    margin-left: -20px;
    margin-top: -15px;
    margin-right: 12px;
    height: auto;
    float: left;
    transition: transform 0.3s ease;
    /* Add transition for smooth effect */
}

#logo:hover {
    transform: scale(1.1);
    /* Scale the logo by 10% on hover */
}

header {
    background: black;


}

header h1 {
    margin-top: 1%;
    margin-bottom: -10px;
    font-family: "Rowdies", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 24px;
    color: white;
    text-align: left;

    margin-top: 1%;
    margin-bottom: -10px;
    font-family: "Rowdies", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 24px;
    color: white;
    text-align: left;

}



body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    /* Set text color to white for better visibility */
    /* background: linear-gradient(to bottom right, #f2f2f2, #e0e0e0);
    background: linear-gradient(to bottom right, #f2f2f2, #e0e0e0); */
    /* background: rgba(0, 150, 136); */
    background: rgb(34, 95, 69);
}

#wrapper {
    max-width: 600px;
    margin: 20px 100px;
    align-content: center;
    align-items: center;
}

form {
    background-color: rgba(255, 255, 255, 0.8);
    /* Glass appearance background */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgb(245, 250, 112);
    margin-bottom: 10px;
    margin-bottom: 10px;
    opacity: 0;
    /* Initially set opacity to 0 for fade-in effect */
    animation: fadeIn 1s ease-in-out forwards;
    /* Animation properties */
    width: 100%;
}

/* Keyframes for fade-in animation */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
        /* Optional: Slide up effect */
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

label {
    /* display: block; */
    margin-bottom: 5px;
    color: #333;
}

select,
input,
button {
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    box-sizing: border-box;


}

button {
    margin-top: 0px;
    background: #4caf50;
    margin-top: 0px;
    background: #4caf50;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 5px;
    width: 80px;
    border-radius: 20px;
    font-family: "Allerta", sans-serif;
    font-weight: 400;
    font-style: normal;
    padding-top: 7px;
    padding-bottom: 7px;
    margin-bottom: 5px;
    width: 80px;
    border-radius: 20px;
    font-family: "Allerta", sans-serif;
    font-weight: 400;
    font-style: normal;
    padding-top: 7px;
    padding-bottom: 7px;
}

.fa-solid fa-plus::before {
    color: white;
}

button {
    position: relative;
    z-index: 1000;
}


button:hover {
    /* background-color: #7d2ae8; */
    background-color: brightness(#bbb5ff, 80%);
    /* background-color: #7d2ae8; */
    background-color: brightness(#bbb5ff, 80%);
    position: relative;
    z-index: 1000;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    position: relative;
    z-index: 1000;




}

#entryTable {
    /* width: 100%; */
    padding: auto;
    align-self: center;
    justify-self: center;
    margin-top: 20px;
    box-sizing: border-box;
    ;
    box-sizing: border-box;
    ;
}



thead th,
tbody td {
    font-size: small;
    font-weight: normal;
    padding-right: 10px;
    padding-left: 10px;
    /* border: 3px solid rgb(255, 255, 255); */
    border: 4px solid #232D3F;
    text-align: center;
    justify-content: center;
    /* width: max-content; */

}


thead th {
    background: linear-gradient(135deg, #232D3F, #232D3F);
    color: whitesmoke;
    padding-top: 10px;
    padding-bottom: 10px;



}

/* Hover effect */
thead th:hover {
    background-color: #2681bd;

}

thead th {
    background: linear-gradient(135deg, #232D3F, #232D3F);
    color: whitesmoke;
    padding-top: 10px;
    padding-bottom: 10px;



}

/* Hover effect */
thead th:hover {
    background-color: #2681bd;

}

tbody tr:nth-child(odd) {
    background-color: rgb(241, 238, 238);
}

tbody tr:nth-child(even) {
    background-color: rgb(241, 238, 238);
}

#delete {
    margin-top: 5px;
    margin-bottom: 5px;
    padding-top: 1px;
    padding-bottom: 2px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
    /* Add shadow */
    transition: transform 0.3s ease;
    background-color: #4caf50;
}

#submit {
    width: 90px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
    /* Add shadow */
    transition: transform 0.3s ease;
    background-color: #4caf50;
}

#download {
    width: 150px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
    /* Add shadow */
    transition: transform 0.3s ease;
    background-color: #4caf50;
}

#submit:hover {
    transform: scale(1.1);
    background-color: #3da140;
}

#download:hover {
    transform: scale(1.1);
    background-color: #3da140;
}

#delete:hover {
    transform: scale(1.1);
    background-color: #3da140;

}

#add {
    width: 100px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
    /* Add shadow */
    transition: transform 0.3s ease;


}

#add:hover {
    transform: scale(1.1);
    background-color: #3da140;
}

/* background-color:rgb(182, 178, 178); */


#delete {
    margin-top: 5px;
    margin-bottom: 5px;
    padding-top: 1px;
    padding-bottom: 2px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
    /* Add shadow */
    transition: transform 0.3s ease;
    background-color: #4caf50;
}

#submit {
    width: 90px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
    /* Add shadow */
    transition: transform 0.3s ease;
    background-color: #4caf50;
}

#download {
    width: 150px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
    /* Add shadow */
    transition: transform 0.3s ease;
    background-color: #4caf50;
}

#submit:hover {
    transform: scale(1.1);
    background-color: #3da140;
}

#download:hover {
    transform: scale(1.1);
    background-color: #3da140;
}

#delete:hover {
    transform: scale(1.1);
    background-color: #3da140;

}

#add {
    width: 100px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
    /* Add shadow */
    transition: transform 0.3s ease;


}

#add:hover {
    transform: scale(1.1);
    background-color: #3da140;
}

footer {
    background-color: black;
    background-color: black;
    padding: 10px;
    text-align: center;
    bottom: 0;
    width: 100%;
    color: #fff;
}



/* #fleetForm .two-fields {

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 10px;
    margin-bottom: 20px;

}

#fleetForm .three-fields {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 10px;
    margin-bottom: 20px;

} */
i {
    color: #3da140;
}

#fleetForm label {
    justify-self: end;
    padding-right: 10px;
}

#fleetForm select,
#fleetForm input[type="text"],
#fleetForm input[type="number"] {
    width: 100%;
}

#entryTable {
    margin-top: 20px;
    border-radius: 20px;
    overflow: hidden;
    /* Ensure the border radius is applied correctly */
    border-radius: 20px;
    overflow: hidden;
    /* Ensure the border radius is applied correctly */
}

#drop-area {
    text-align: center;
    cursor: pointer;
    margin-bottom: 20px;


}

#img-view {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
    border: 2px dashed #bbb5ff;
    background: #f7f8ff;


}

#img-view img {
    width: 10%;
    margin-top: 25px;
    transition: transform 0.3s ease;
}

#img-view img:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease;
}

#img-view img:hover {
    transform: scale(1.1);
}

#img-view span {
    font-size: small;
    /* display: flex; */
    color: #b3b3b3;
    margin-bottom: 10px;
}

.progress-bar-container {
    padding: 12px 0;
    /* background: linear-gradient(to bottom right, #f2f2f2, #e0e0e0); */
    max-width: 700px;
    /* You can adjust this as needed */
    /* background: linear-gradient(to bottom right, #f2f2f2, #e0e0e0); */
    
    /* You can adjust this as needed */
    margin: auto;
    /* This centers the progress bar */
    margin-bottom: 10px;
    border-radius: 50%;
    
    border-radius: 50%;
}

.progress-bar {
    counter-reset: step;
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: space-evenly;
    margin: 0;
    /* Removes default margin */
}



.progress-bar li {
    position: relative;
    flex-grow: 1;
    text-align: center;
    padding: 5px;
    font-size: 0.99em;
    /* Smaller font size */
    color: floralwhite;
    background-color: grey;
    /* Inactive step color */
    border-radius: 15px;
    margin-right: -25px;

    background-color: grey;
    /* Inactive step color */
    border-radius: 15px;
    margin-right: -25px;

}

.progress-bar li:before {
    counter-increment: step;
    content: counter(step);
    position: absolute;
    top: -20px;
    /* Adjusted for smaller circle size */
    left: 50%;
    transform: translateX(-50%);
    background-color: #333;
    color: #fff;
    width: 20px;
    /* Smaller circle size */
    height: 20px;
    /* Smaller circle size */
    text-align: center;
    line-height: 20px;
    /* Adjusted for smaller circle size */
    border-radius: 50%;
    font-size: 0.75em;
    /* Smaller text in circle */
    transition: transform 0.3s ease;
    /* Transition effect */
}

.progress-bar li:hover:before {
    transform: translate(-50%, -50%) scale(1.2);
    /* Zoom effect */
    transition: transform 0.3s ease;
    /* Transition effect */
}

.progress-bar li:hover:before {
    transform: translate(-50%, -50%) scale(1.2);
    /* Zoom effect */
}

.progress-bar li:after {
    content: '';
    position: absolute;
    top: 8px;
    /* Adjusted for alignment with the smaller circle */
    left: -50%;
    /* Starts from the middle of the circle */
    width: 100%;
    height: 2px;
    /* Thinner line to connect circles */
    background-color: #333;
    /* Connects steps */
    z-index: -1;
}

.progress-bar li:first-child:after {
    content: none;
}

.progress-bar li.current {
    background-color: #232D3F;
    /* Highlight for the current step */
}

.progress-bar li.current:before {
    background-color: #232D3F;
    /* Highlight for the current step number */
}

.progress-bar li.completed {
    background-color: #333;
    /* Color for completed steps */
    background-color: #333;
    /* Color for completed steps */
}

.progress-bar li.completed:before {
    background-color: #333;
    /* Color for completed step numbers */
    background-color: #333;
    /* Color for completed step numbers */
}

.progress-bar li.completed:after {
    background-color: #333;
    /* Color for completed line */
}

#wrapper {
    margin: auto;
    width: 100%;
}

#table-style {
    margin: auto;
    width: 70%;



}

#wrapper .left {
    width: 50%;
    float: left;
}

#wrapper .right {
    width: 50%;
    float: right;
}


.loop-wrapper {
    margin: 0 auto;
    margin-bottom: 10px;
    position: relative;
    display: block;
    width: 100%;
    height: 125px;
    overflow: hidden;
    border-bottom: 3px solid #fff;
    color: #fff;
}

.mountain {
    position: absolute;
    right: -900px;
    bottom: -20px;
    width: 2px;
    height: 2px;
    box-shadow:
        0 0 0 50px #4DB6AC,
        60px 50px 0 70px #4DB6AC,
        90px 90px 0 50px #4DB6AC,
        250px 250px 0 50px #4DB6AC,
        290px 320px 0 50px #4DB6AC,
        320px 400px 0 50px #4DB6AC;
    transform: rotate(130deg);
    animation: mtn 20s linear infinite;
}

.hill {
    position: absolute;
    right: -900px;
    bottom: -50px;
    width: 400px;
    border-radius: 50%;
    height: 20px;
    box-shadow:
        0 0 0 50px #4DB6AC,
        -20px 0 0 20px #4DB6AC,
        -90px 0 0 50px #4DB6AC,
        250px 0 0 50px #4DB6AC,
        290px 0 0 50px #4DB6AC,
        620px 0 0 50px #4DB6AC;
    animation: hill 4s 2s linear infinite;
}

.tree,
.tree:nth-child(2),
.tree:nth-child(3) {
    position: absolute;
    height: 100px;
    width: 35px;
    bottom: 0;
    background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/130015/tree.svg) no-repeat;
}

.rock {
    margin-top: -17%;
    height: 2%;
    width: 2%;
    bottom: -2px;
    border-radius: 20px;
    position: absolute;
    background: #000000;
}

.truck,
.wheels {
    transition: all ease;
    width: 85px;
    margin-right: -60px;
    bottom: 0px;
    right: 50%;
    position: absolute;
    background: #000000;
}

.truck {
    background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/130015/truck.svg) no-repeat;
    background-size: contain;
    height: 60px;
}

.truck:before {
    content: " ";
    position: absolute;
    width: 25px;
    box-shadow:
        -30px 28px 0 1.5px #000000,
        -35px 18px 0 1.5px #000000;
}

.wheels {
    background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/130015/wheels.svg) no-repeat;
    height: 15px;
    margin-bottom: 0;
}

.tree {
    animation: tree 6s 0.000s linear infinite;
}

.tree:nth-child(2) {
    animation: tree2 2s 0.150s linear infinite;
}

.tree:nth-child(3) {
    animation: tree3 8s 0.050s linear infinite;
}

.rock {
    animation: rock 4s -0.530s linear infinite;
}

.truck {
    animation: truck 4s 0.080s ease infinite;
}

.wheels {
    animation: truck 4s 0.001s ease infinite;
}

.truck:before {
    animation: wind 1.5s 0.000s ease infinite;
}


@keyframes tree {
    0% {
        transform: translate(1350px);
    }

    50% {}

    100% {
        transform: translate(-50px);
    }
}

@keyframes tree2 {
    0% {
        transform: translate(650px);
    }

    50% {}

    100% {
        transform: translate(-50px);
    }
}

@keyframes tree3 {
    0% {
        transform: translate(2750px);
    }

    50% {}

    100% {
        transform: translate(-50px);
    }
}

@keyframes rock {
    0% {
        right: -200px;
    }

    100% {
        right: 2000px;
    }
}

@keyframes truck {
    0% {}

    6% {
        transform: translateY(0px);
    }

    7% {
        transform: translateY(-6px);
    }

    9% {
        transform: translateY(0px);
    }

    10% {
        transform: translateY(-1px);
    }

    11% {
        transform: translateY(0px);
    }

    100% {}
}

@keyframes wind {
    0% {}

    50% {
        transform: translateY(3px)
    }

    100% {}
}

@keyframes mtn {
    100% {
        transform: translateX(-2000px) rotate(130deg);
    }
}

@keyframes hill {
    100% {
        transform: translateX(-2000px);
    }
}
/* 
.ripple-background {
    bottom: 25%;
    position: absolute;
}

.circle {
    position: absolute;
    border-radius: 50%;
    background: white;
    animation: ripple 15s infinite;
    box-shadow: 0px 0px 1px 0px #508fb9;
}

.small {
    width: 200px;
    height: 200px;
    left: -100px;
    bottom: -100px;
}

.medium {
    width: 400px;
    height: 400px;
    left: -200px;
    bottom: -200px;
}

.large {
    width: 600px;
    height: 600px;
    left: -300px;
    bottom: -300px;
}

.xlarge {
    width: 800px;
    height: 800px;
    left: -400px;
    bottom: -400px;
}

.xxlarge {
    width: 1000px;
    height: 1000px;
    left: -500px;
    bottom: -500px;
}

.shade1 {
    opacity: 0.2;
}

.shade2 {
    opacity: 0.5;
}

.shade3 {
    opacity: 0.7;
}

.shade4 {
    opacity: 0.8;
}

.shade5 {
    opacity: 0.9;
}

@keyframes ripple {
    0% {
        transform: scale(0.8);
    }

    50% {
        transform: scale(1.2);
    }

    100% {
        transform: scale(0.8);
    }
} */

