/* Generate CSS code for index.html and green_wizard.html */
/* Path: styles.css */
body {
    font-family: Arial, sans-serif;
    background-color: #0c1c81;
    color: #ffffff;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

label {
    display: block;
    margin-top: 20px;
    letter-spacing: 1px;
}

input,
select {
    width: 100%;
    height: 30px;
    margin-top: 5px;
    padding: 4px;
    font-size: 1em;
    border-radius: 5px;
    border: 1px solid #999;
}

button {
    margin-top: 20px;
    width: 100%;
    height: 40px;
    padding: 10px;
    font-size: medium;
    background: #26b170;
    color: #fff;
    cursor: pointer;
    border-radius: 5px;
}

form {
    margin: 0 auto;
    max-width: 30em;
    width: 70%;
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* Create a two-column grid */
    gap: 2rem;
    /* Add some space between the elements */
}